* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Abel', sans-serif;
    letter-spacing: 1px;
}

.boxing {
    margin: 25px auto;
    width: 600px;
}

.header {
    padding: 10px 15px;
    background-color: #FE5F55;
}

img {
    width: 100%;
    height: 100%;
    border-image-width: unset;;
}

.messages {
    margin: 0px auto;
    width: 600px;
    height: 600px;
    padding: 10px;
    background-color: #52B788;
    overflow-y: scroll;
}

.messages ul div {
    display: flex;
    align-items: center;
    margin-top: 5px;
    align-items: flex-end;
}

.messages ul div img {
    height: 44px;
    width: 44px;
    min-height: min-content;
    border-radius: 2px;
}

.messages ul div span {
    background-color: #4F6367;
    padding: 13px;
    color: #FFF;
    border-radius: 2px;
}

.msg-right {
    flex-direction: row-reverse;
    
}
.msg-box-left {
    margin-left: 5px;
}
.msg-box-right {
    margin-right: 5px;
}

.avatar {
    display: flex;
    align-items: center;
}

.avatar img {
    width: 44px;
    height: 44px;
    display: block;
    border-radius: 25px;
    margin-right: 25px;
}

.center-msg {
    margin: 0 auto;
}

form input {
    padding: 15px;
    background-color: #eee;
    width: 100%;
    outline: none;
}
